### Manually create dataframe of determinands

In [3]:
# Import libraries

import pandas as pd
import numpy as np

In [16]:
# Create a dictionary with the data
data = {
    "Measurement": ["pH", "Total Coliforms", "E.coli", "Turbidity", "FAC (Free Available Chlorine)",
                    "Hardness (total)", "Chloride", "Chlorine", "Hardness (total)", "Calcium",
                    "pH (Field)", "Sodium (Dissolved)", "Sulphate", "Water Temperature (Field)",
                    "Dissolved Oxygen", "Magnesium, Dissolved (Mg2+)", "Silica (SiO2)", "Nitrate Nitrogen"],
    "Units": ["-", "number/100mL", "number/100mL", "NTU", "mg/L", "mg/L as CaCO3", "mg/L",
              "mg/L as Cl2", "mg/L as CaCO3", "mg/L", "-", "mg/L", "mg/L", "C", "% saturation",
              "mg/L", "mg/L", "mg/L as NO3-N"],
    "Min Value": [7, "<1.22", "<1.00", np.nan, 1, np.nan, np.nan, 0.3, np.nan, 100,
                  7, np.nan, np.nan, np.nan, 85, np.nan, np.nan, np.nan],
    "Ideal Value": ["7.4 - 8.0", "<1.22", "<1.00", "<1", "1 - 5", np.nan, np.nan,
                    "0.3 - 1.0", np.nan, np.nan, "7.4 - 8.0", np.nan, np.nan,
                    np.nan, ">85", np.nan, np.nan, np.nan],
    "Max Value": [8.5, "1.22", "1.00", "1", 5, "200", "250", "1 - 5", "200", 300,
                  8.5, "200", "250", "15", np.nan, "100", "80", "11.3"]
}

In [17]:
# Create and display pandas df

df = pd.DataFrame(data)
df

,Measurement,Units,Min Value,Ideal Value,Max Value
0,pH,-,7,7.4 - 8.0,8.5
1,Total Coliforms,number/100mL,<1.22,<1.22,1.22
2,E.coli,number/100mL,<1.00,<1.00,1.00
3,Turbidity,NTU,NaN,<1,1
4,FAC (Free Available Chlorine),mg/L,1,1 - 5,5
5,Hardness (total),mg/L as CaCO3,NaN,NaN,200
6,Chloride,mg/L,NaN,NaN,250
7,Chlorine,mg/L as Cl2,0.3,0.3 - 1.0,1 - 5
8,Hardness (total),mg/L as CaCO3,NaN,NaN,200
9,Calcium,mg/L,100,NaN,300
10,pH (Field),-,7,7.4 - 8.0,8.5
11,Sodium (Dissolved),mg/L,NaN,NaN,200
12,Sulphate,mg/L,NaN,NaN,250
13,Water Temperature (Field),C,NaN,NaN,15
14,Dissolved Oxygen,% saturation,85,>85,NaN
15,"Magnesium, Dissolved (Mg2+)",mg/L,NaN,NaN,100
16,Silica (SiO2),mg/L,NaN,NaN,80
17,Nitrate Nitrogen,mg/L as NO3-N,NaN,NaN,11.3

In [20]:
# Modify 'Ideal Value' column based on conditions
for index, row in df.iterrows():
    ideal_value = str(row['Ideal Value'])
    if '-' in ideal_value:
        ideal_value = ideal_value.split('-')[0].strip()
    df.at[index, 'Ideal Value'] = ideal_value

In [21]:
df

,Measurement,Units,Min Value,Ideal Value,Max Value
0,pH,-,7,7.4,8.5
1,Total Coliforms,number/100mL,<1.22,<1.22,1.22
2,E.coli,number/100mL,<1.00,<1.00,1.00
3,Turbidity,NTU,NaN,<1,1
4,FAC (Free Available Chlorine),mg/L,1,1,5
5,Hardness (total),mg/L as CaCO3,NaN,nan,200
6,Chloride,mg/L,NaN,nan,250
7,Chlorine,mg/L as Cl2,0.3,0.3,5.0
8,Hardness (total),mg/L as CaCO3,NaN,nan,200
9,Calcium,mg/L,100,nan,300
10,pH (Field),-,7,7.4,8.5
11,Sodium (Dissolved),mg/L,NaN,nan,200
12,Sulphate,mg/L,NaN,nan,250
13,Water Temperature (Field),C,NaN,nan,15
14,Dissolved Oxygen,% saturation,85,>85,nan
15,"Magnesium, Dissolved (Mg2+)",mg/L,NaN,nan,100
16,Silica (SiO2),mg/L,NaN,nan,80
17,Nitrate Nitrogen,mg/L as NO3-N,NaN,nan,11.3