### Manually create dataframe of determinands

In [68]:
# Import libraries

import pandas as pd
import numpy as np

In [69]:
# Create a dictionary with the data
data = {
    "Measurement": ["pH", "Total Coliforms", "E.coli", "Turbidity", "FAC Free Available Chlorine",
                    "Hardness total", "Chloride", "Chlorine", "Hardness total", "Calcium",
                    "pH Field", "Sodium Dissolved", "Sulphate", "Water Temperature Field",
                    "Dissolved Oxygen", "Magnesium Dissolved", "Silica", "Nitrate Nitrogen"],
    "Units": ["-", "number/100mL", "number/100mL", "NTU", "mg/L", "mg/L as CaCO3", "mg/L",
              "mg/L as Cl2", "mg/L as CaCO3", "mg/L", "-", "mg/L", "mg/L", "C", "% saturation",
              "mg/L", "mg/L", "mg/L as NO3-N"],
    "Min Value": [7, "<1.22", "<1.00", np.nan, 1, np.nan, np.nan, 0.3, np.nan, 100,
                  7, np.nan, np.nan, np.nan, 85, np.nan, np.nan, np.nan],
    "Ideal Value": ["7.4 - 8.0", "1.22", "1.00", "1", "1 - 5", np.nan, np.nan,
                    "0.3 - 1.0", np.nan, np.nan, "7.4 - 8.0", np.nan, np.nan,
                    np.nan, ">85", np.nan, np.nan, np.nan],
    "Max Value": [8.5, 1.22, 1.00, 1, 5, 200, 250, "1 - 5", 200, 300,
                  8.5, 200, 250, 15, np.nan, 100, 80, 11.3]
}

In [70]:
# Create and display pandas df

df = pd.DataFrame(data)
df

                    Measurement          Units Min Value Ideal Value Max Value
0                            pH              -         7   7.4 - 8.0       8.5
1               Total Coliforms   number/100mL     <1.22        1.22      1.22
2                        E.coli   number/100mL     <1.00        1.00       1.0
3                     Turbidity            NTU       NaN           1         1
4   FAC Free Available Chlorine           mg/L         1       1 - 5         5
5                Hardness total  mg/L as CaCO3       NaN         NaN       200
6                      Chloride           mg/L       NaN         NaN       250
7                      Chlorine    mg/L as Cl2       0.3   0.3 - 1.0     1 - 5
8                Hardness total  mg/L as CaCO3       NaN         NaN       200
9                       Calcium           mg/L       100         NaN       300
10                     pH Field              -         7   7.4 - 8.0       8.5
11             Sodium Dissolved           mg/L       NaN         NaN       200
12                     Sulphate           mg/L       NaN         NaN       250
13      Water Temperature Field              C       NaN         NaN        15
14             Dissolved Oxygen   % saturation        85         >85       NaN
15          Magnesium Dissolved           mg/L       NaN         NaN       100
16                       Silica           mg/L       NaN         NaN        80
17             Nitrate Nitrogen  mg/L as NO3-N       NaN         NaN      11.3

In [71]:
# Modify 'Ideal Value' column based on conditions
for index, row in df.iterrows():
    ideal_value = str(row['Ideal Value'])
    if '-' in ideal_value:
        ideal_value = ideal_value.split('-')[0].strip()
    df.at[index, 'Ideal Value'] = ideal_value

In [72]:
df

                    Measurement          Units Min Value Ideal Value Max Value
0                            pH              -         7         7.4       8.5
1               Total Coliforms   number/100mL     <1.22        1.22      1.22
2                        E.coli   number/100mL     <1.00        1.00       1.0
3                     Turbidity            NTU       NaN           1         1
4   FAC Free Available Chlorine           mg/L         1           1         5
5                Hardness total  mg/L as CaCO3       NaN         nan       200
6                      Chloride           mg/L       NaN         nan       250
7                      Chlorine    mg/L as Cl2       0.3         0.3     1 - 5
8                Hardness total  mg/L as CaCO3       NaN         nan       200
9                       Calcium           mg/L       100         nan       300
10                     pH Field              -         7         7.4       8.5
11             Sodium Dissolved           mg/L       NaN         nan       200
12                     Sulphate           mg/L       NaN         nan       250
13      Water Temperature Field              C       NaN         nan        15
14             Dissolved Oxygen   % saturation        85         >85       NaN
15          Magnesium Dissolved           mg/L       NaN         nan       100
16                       Silica           mg/L       NaN         nan        80
17             Nitrate Nitrogen  mg/L as NO3-N       NaN         nan      11.3

In [73]:
# Add simple_name column

df['simple_name'] = df['Measurement'].str.lower().str.replace(' ', "_")

In [74]:
df

,Measurement,Units,Min Value,Ideal Value,Max Value,simple_name
0,pH,-,7,7.4,8.5,ph
1,Total Coliforms,number/100mL,<1.22,1.22,1.22,total_coliforms
2,E.coli,number/100mL,<1.00,1.00,1.0,e.coli
3,Turbidity,NTU,NaN,1,1,turbidity
4,FAC Free Available Chlorine,mg/L,1,1,5,fac_free_available_chlorine
5,Hardness total,mg/L as CaCO3,NaN,nan,200,hardness_total
6,Chloride,mg/L,NaN,nan,250,chloride
7,Chlorine,mg/L as Cl2,0.3,0.3,1 - 5,chlorine
8,Hardness total,mg/L as CaCO3,NaN,nan,200,hardness_total
9,Calcium,mg/L,100,nan,300,calcium
10,pH Field,-,7,7.4,8.5,ph_field
11,Sodium Dissolved,mg/L,NaN,nan,200,sodium_dissolved
12,Sulphate,mg/L,NaN,nan,250,sulphate
13,Water Temperature Field,C,NaN,nan,15,water_temperature_field
14,Dissolved Oxygen,% saturation,85,>85,NaN,dissolved_oxygen
15,Magnesium Dissolved,mg/L,NaN,nan,100,magnesium_dissolved
16,Silica,mg/L,NaN,nan,80,silica
17,Nitrate Nitrogen,mg/L as NO3-N,NaN,nan,11.3,nitrate_nitrogen

In [75]:
# Replace 'nan' strings with actual NaN values
df['Ideal Value'] = df['Ideal Value'].replace('nan', np.nan)

# Fill NaN values in 'Ideal Value' column with corresponding values from 'Max Value' column
df['Ideal Value'] = df['Ideal Value'].fillna(df['Max Value'])

In [76]:
df

,Measurement,Units,Min Value,Ideal Value,Max Value,simple_name
0,pH,-,7,7.4,8.5,ph
1,Total Coliforms,number/100mL,<1.22,1.22,1.22,total_coliforms
2,E.coli,number/100mL,<1.00,1.00,1.0,e.coli
3,Turbidity,NTU,NaN,1,1,turbidity
4,FAC Free Available Chlorine,mg/L,1,1,5,fac_free_available_chlorine
5,Hardness total,mg/L as CaCO3,NaN,200,200,hardness_total
6,Chloride,mg/L,NaN,250,250,chloride
7,Chlorine,mg/L as Cl2,0.3,0.3,1 - 5,chlorine
8,Hardness total,mg/L as CaCO3,NaN,200,200,hardness_total
9,Calcium,mg/L,100,300,300,calcium
10,pH Field,-,7,7.4,8.5,ph_field
11,Sodium Dissolved,mg/L,NaN,200,200,sodium_dissolved
12,Sulphate,mg/L,NaN,250,250,sulphate
13,Water Temperature Field,C,NaN,15,15,water_temperature_field
14,Dissolved Oxygen,% saturation,85,>85,NaN,dissolved_oxygen
15,Magnesium Dissolved,mg/L,NaN,100,100,magnesium_dissolved
16,Silica,mg/L,NaN,80,80,silica
17,Nitrate Nitrogen,mg/L as NO3-N,NaN,11.3,11.3,nitrate_nitrogen

In [77]:
# Add simple_name column

df['simple_name'] = df['simple_name'].str.replace('.', "_")

In [78]:
df

,Measurement,Units,Min Value,Ideal Value,Max Value,simple_name
0,pH,-,7,7.4,8.5,ph
1,Total Coliforms,number/100mL,<1.22,1.22,1.22,total_coliforms
2,E.coli,number/100mL,<1.00,1.00,1.0,e_coli
3,Turbidity,NTU,NaN,1,1,turbidity
4,FAC Free Available Chlorine,mg/L,1,1,5,fac_free_available_chlorine
5,Hardness total,mg/L as CaCO3,NaN,200,200,hardness_total
6,Chloride,mg/L,NaN,250,250,chloride
7,Chlorine,mg/L as Cl2,0.3,0.3,1 - 5,chlorine
8,Hardness total,mg/L as CaCO3,NaN,200,200,hardness_total
9,Calcium,mg/L,100,300,300,calcium
10,pH Field,-,7,7.4,8.5,ph_field
11,Sodium Dissolved,mg/L,NaN,200,200,sodium_dissolved
12,Sulphate,mg/L,NaN,250,250,sulphate
13,Water Temperature Field,C,NaN,15,15,water_temperature_field
14,Dissolved Oxygen,% saturation,85,>85,NaN,dissolved_oxygen
15,Magnesium Dissolved,mg/L,NaN,100,100,magnesium_dissolved
16,Silica,mg/L,NaN,80,80,silica
17,Nitrate Nitrogen,mg/L as NO3-N,NaN,11.3,11.3,nitrate_nitrogen